{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
<title>Tous nos produits</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="content-language" content="fr" />
<link href="{% static 'style.css' %}"	title="Défaut" rel="stylesheet" type="text/css" media="screen" />
</head>
<body> 

<div id="conteneur"><!-- Conteneur Global --> 
         <div id="header">
		 <!--***** MENU *****-->
              <ul id="menu">
                  <li><a href="{% url 'shop.views.home' %}" title="">Accueil</a></li>
                  <li id="ici"><a href="{% url 'shop.views.produits' %}" title="">Boutique</a></li> 
                  {% if user.groups.first.name == "Serveur" %}
                        <li><a href="{% url 'shop.views.gestionService' %}">Gestion Service</a></li>
                    {% endif %}
              </ul> 	
         </div>
   
         <div id="contenu">
		      <!--***** COLONNE DE GAUCHE *****-->		 
              <div id="left">
		      <!--***** MENU *****-->
                   <div class="hautmenu">Catégories</div><div class="fondmenu">
                        <ul class="menuh">
                            <li><a href="{% url 'shop.views.boissons' %}" title="">Les boissons</a></li> 
                            <li><a href="{% url 'shop.views.glaces' %}" title="">Les glaces</a></li>
                        </ul> 	
                   </div><div class="basmenu"></div>

                   	<div class="hautmenu">Catégories</div><div class="fondmenu">
                        <a href="" title=""><img src="{% static 'facebook.png' %}" alt="" style="margin:0 3px" /></a>
                        <a href="" title=""><img src="{% static 'twitter.png' %}" alt="" style="margin:0 3px" /></a>
                        <a href="" title=""><img src="{% static 'rss.png' %}" alt="" style="margin:0 3px" /></a>		
                   	</div><div class="basmenu"></div><!-- Fin Menu vertical -->

                   	{% if commandeExistante %}
                   	<div class="hautmenu">Panier</div><div class="fondmenu">
                		<ul class="menuh">
                			{% for ligneCom in commandeExistante.lignecom_set.all %}
                				<li>{{ ligneCom.produit.nom }} (x{{ ligneCom.quantite }})</li>
                			{% endfor %}
                		</ul>
                   	</div><div class="basmenu"></div><!-- Fin Menu vertical -->
                   	{% endif %}
              </div>
			  
		      <!--***** COLONNE DE DROITE *****-->		
		      <div id="right">
			  
 		      <!--***** CADRE NEWS *****-->                
				 <div class="news_haut"></div><div class="news_fond">
				      <span class="titre">Nos produits :</span><br />
				      <table>
				     	{% for produit in produits %}
				      	<tr style="margin-bottom:30px;">
				      		<td>
				      			{% if produit.urlImg != "" %}
				      				<img style="float:left;width:100px;margin-right:30px;" src="{{produit.urlImg}}" alt="Image du produit" />
				      			{% else %}
				      				<p>Aucune image à afficher</p>
				      			{% endif %}
				      		</td>
				      		<td>
				      			<p style="margin-bottom:10px;"><span class="titre" style="font-size:2em;font-weight: bold;">{{produit.nom}}</span><br/>
				      			Ingredients : 
				      			{% for ingredients in produit.ingredients.all %}
				      				{{ingredients.libelle}} ;
				      			{% endfor %}
				      			</p>
								<p>{{produit.description}}</p>
								<form action="." method="post">
									{% csrf_token %}
									<input type="hidden" name="leProduit" value="{{ produit.pk }}" />
									<input type="number" name="quantite" min="1" value="1">
									<input type="submit" value="Ajouter au panier" />
								</form>
				      		</td>
				      	</tr>
				      	{% endfor %}
				      </table>

				 </div><div class="news_bas"></div>
				 
				 <!-- Bouton pour remonter en haut de la page --> 
				 <div style="text-align: right;margin:0 17px 0 0"><a href="#header"><img src="{% static 'hautdepage.png' %}" alt=""/></a></div>
				 
		      </div>
 		      <!--***** PIED *****--> 
              <div id="pied">
                   <!-- mention de copyright Ne pas retirer sans autorisation écrite -->
                   <div class="copyright"><a href=""> Votresite.com</a> | ©Design <a href="http://www.kitgraphiquegratuit.org" onclick="window.open(this.href); return false;" title="kits Graphique">Kits Graphiques</a></div>
                   <!-- mention de copyright Ne pas retirer sans autorisation écrite -->	
              </div>

</div><!-- Fin Contenu -->
</div><!-- Fin Conteneur Global -->
</body>
</html>

