<!DOCTYPE html>
<html>
<head>
	<title>Le bar VIP</title>
</head>
<body style="text-align:center;">

<h1>Bienvenue au BAR</h1>
<p style="font-style:italic;">"C'est à boire à boire à boire, c'est à boire qu'il nous faut..."</p>

<h1>Liste des produits</h1>
<div>
<ul style="list-style-type:none;margin:auto;width:50%;text-align:justify;">
{% for produit in produits %}
	<li style="clear:both;margin-bottom:40px;">
	{% if produit.urlImg != "" %}
		<div style="float:left;"><img src="{{produit.urlImg}}" alt="Illustration du produit" /></div>
	{% endif %}
	<div>
		<p><span style="font-size:2em;font-weight: bold;">{{produit.nom}}</span><br/>
		{{produit.description}}</p>
	</div>
	</li>
{% endfor %}
</ul>
</div>

</body>
</html>